<o-form service="users2" entity="users" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>
    <o-column title-label="NEW_USER">
      <o-row>
        <o-text-input attr="NAME" fxFlex="40" required="yes"></o-text-input>
        <o-text-input attr="SURNAMES" fxFlex="40" required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="EMAIL" class="input-padding" step="0" grouping="no" fxFlex="40" required="yes"></o-text-input>
        <o-integer-input attr="PHONE" class="input-padding" fxFlex="40" required="yes"></o-integer-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
