<o-form service="instances" entity="instance" keys="ID" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="ID" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-row>
    <o-column title-label="INSTANCE_INFORMATION" fxFlex>
      <o-row>
        <o-date-input attr="DATE_OF_ADMISSION" fxFlex="20"></o-date-input>
      </o-row>
      <o-row>
        <o-text-input attr="STATUS" fxFlex="20"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="ID_BOOKS"></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
