<o-form service="loans" entity="loans" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>
    <o-column title-label="NEW_LOANS" fxFlex>
      <o-row>
        <o-date-input attr="DEPARTURE_DATE" fxFlex="20" required="yes"></o-date-input>
      </o-row>
      <o-row>
        <o-date-input attr="MAXIMUM_DATE_TO_RETURN" fxFlex="20" required="yes"></o-date-input>
      </o-row>
      <o-row>
        <o-date-input attr="RETURN_DATE" fxFlex="20" required="yes"></o-date-input>
      </o-row>
      <o-row>
        <o-text-input attr="USER_ID" required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="INSTANCE_ID" required="yes"></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
