<o-form service="authors" entity="author" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>
    <o-column title-label="NEW_AUTHOR">
      <o-row>
        <o-text-input attr="NAME" fxFlex="40" required="yes"></o-text-input>
        <o-text-input attr="SURNAMES" class="input-padding" fxFlex="40" required="yes"></o-text-input>
        <o-integer-input attr="AGE" step="0" class="input-padding" grouping="no" fxFlex="40" required="yes"></o-integer-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
